CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build
build/**
frontEnd/node_modules
frontEnd/package-lock.json
frontEnd/yarn.lock
.idea